.todo {
    border: 1px solid #cecece;
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
}

.li_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.added_task {
    display: flex;
    align-items: center;
    gap: 4px;
}

.li_item_left {
    display: flex;
    align-items: center;
    gap: 14px;
}
